.desktop-size {
  display: none;
  margin: 0;
}

.mobile-size {
  margin: 0;
}

@media screen and ( min-width: 960px ) {
  .mobile-size {
    display: none;
    margin: 0;
  }

  .desktop-size {
    display: inline-block;
  }
}